<!DOCTYPE html>
<html lang="en">
<head>
    <title>RollinSpot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <script src="../static/javascript/navbar.js"></script>
</head>
    <body>
        <nav class="navbar">
            <div class="container">
                <a href="/" class="brand">Home</a>
                <div class="menu-icon" onclick="toggleMenu()">
                    &#9776;
                </div>
                <div class="nav-links" id="nav-links">
                    <a href="/logout" class="nav-item" id="logout">Logout</a>
                </div>
            </div>
            <div class="mobile-links" id="mobile-links">
                <a href="/logout" class="nav-item" id="logout-m">Logout</a>
            </div>
        </nav>

        <div class=""></div>

    </body>
</html>