<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollinSpot</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/creation-post.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <script src="../static/javascript/navbar.js"></script>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="brand">
            <img src="../static/image/Rollinspot-logo.png" alt="RollinSpot Logo">
        </a>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="nav-links" id="nav-links">
            {{if gt .User.Power 0}}
            <a href="/administration.html" class="nav-item" id="administration">Admin panel</a>
            {{end}}
            {{if eq .User.Username ""}}
            <a href="/login.html" class="nav-item" id="login">Login</a>
            <a href="/register.html" class="nav-item" id="register">Register</a>
            {{else}}
            <a href="/error.html" class="nav-item" id="notifications">Notifications</a>
            <a href="/error.html" class="nav-item" id="messages">Messages</a>
            <a href="/error.html" class="nav-item" id="profile">{{.User.Username}}</a>
            <a href="/settings.html" class="nav-item" id="settings">Settings</a>
            <a href="/logout" class="nav-item" id="logout">Logout</a>
            {{end}}
        </div>
    </div>

    <div class="mobile-links" id="mobile-links">
        {{if gt .User.Power 0}}
        <a href="/administration.html" class="nav-item" id="administration-m">Admin panel</a>
        {{end}}
        {{if eq .User.Username ""}}
        <a href="/login.html" class="nav-item" id="login-m">Login</a>
        <a href="/register.html" class="nav-item" id="register-m">Register</a>
        {{else}}
        <a href="/error.html" class="nav-item" id="notifications-m">Notifications</a>
        <a href="/error.html" class="nav-item" id="messages-m">Messages</a>
        <a href="/error.html" class="nav-item" id="profile-m">{{.User.Username}}</a>
        <a href="/settings.html" class="nav-item" id="settings-m">Settings</a>
        <a href="/logout" class="nav-item" id="logout-m">Logout</a>
        {{end}}
    </div>
</nav>
<div class="form-container">
    {{if eq .Category.Name ""}}
        <h1>Unknown page</h1>
    {{else}}
        <form id="create-post-form" action="/create-post/submit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="category" value="{{.Category.Name}}">
            <h2>Create a New Post</h2>
            <p>Category: <a href="/categories/{{.Category.Name}}">{{.Category.Name}}</a></p>
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" maxlength="100" minlength="10" required>
            <br><br>

            <label for="post-content">Content:</label>
            <textarea id="post-content" name="post-content" rows="5" maxlength="2500" minlength="50" required></textarea>
            <br><br>

            <label for="post-images">Upload Image (JPEG, PNG, GIF, max 20MB):</label>
            <input type="file" id="post-images" name="post-images" accept="image/jpeg, image/png, image/gif" multiple>
            <br><br>

            <span id="error-message" style="color: red;"></span>

            <button type="submit">Create Post</button>
        </form>
    {{end}}
</div>
<script>

    document.getElementById('create-post-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        const errorElement = document.getElementById('error-message')
        fetch(this.action, {
            method: this.method,
            body: formData
        }).then(response => response.json().then(data => ({
            status: response.status,
            body: data
        })))
            .then(({ status, body }) => {
                if (status === 200 && body.redirect) {
                    window.location.href = body.redirect;
                } else {
                    throw new Error(body.error || 'An unknown error occurred.');
                }
            })
            .catch(error => {
                errorElement.textContent = error.message;
                errorElement.style.display = 'block';
            });
    });
</script>
</body>
</html>