<!DOCTYPE html>
<html lang="en">
<head>
    <title>RollinSpot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <script src="../static/javascript/navbar.js"></script>
</head>
    <body>

    <nav class="navbar">
        <div class="container">
            <a href="/" class="brand">Home</a>
            <div class="menu-icon" onclick="toggleMenu()">
                &#9776;
            </div>
            <div class="nav-links" id="nav-links">
                {{if gt .User.Power 0}}
                    <a href="account.html" class="nav-item" id="moderation">Mod panel</a>
                {{end}}
                {{if eq .User.Power 2}}
                    <a href="account.html" class="nav-item" id="administration">Admin panel</a>
                {{end}}
                {{if eq .User.Username ""}}
                    <a href="login.html" class="nav-item" id="login">Login</a>
                    <a href="register.html" class="nav-item" id="register">Register</a>
                {{else}}
                    <a href="account.html" class="nav-item" id="account">{{.User.Username}}</a>
                    <a href="/logout" class="nav-item" id="logout">Logout</a>
                {{end}}
            </div>
        </div>

        <div class="mobile-links" id="mobile-links">
            {{if gt .User.Power 0}}
                <a href="account.html" class="nav-item" id="moderation-m">Mod panel</a>
            {{end}}
            {{if eq .User.Power 2}}
                <a href="account.html" class="nav-item" id="administration-m">Admin panel</a>
            {{end}}
            {{if eq .User.Username ""}}
                <a href="login.html" class="nav-item" id="login-m">Login</a>
                <a href="register.html" class="nav-item" id="register-m">Register</a>
            {{else}}
                <a href="account.html" class="nav-item" id="account-m">{{.User.Username}}</a>
                <a href="/logout" class="nav-item" id="logout-m">Logout</a>
            {{end}}
        </div>
    </nav>

        <section>
            <div class="container">
                <nav>
                    <h1>Logo</h1>
                    <ul>
                        <form>
                            <input
                                    type="text"
                                    required=""
                                    name="search"
                                    placeholder="search for a post or a category"
                            />
                        </form>
                        <li><a href="">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Project</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <div class ="article">
                        <h1>Welcome to RollingSpot, a forum for all type of bikers !</h1>
                        <p>If you have a bike or if you dont, this forum is perfect if you want to share informations or if you need help !
                        </p><br>
                        <p>You already have an acount ? You can sign in at the top of the page, or sign up if you dont have one.
                        </p>
                    </div>
                </nav>
            </div>
        </section>
    </body>
</html>