<!DOCTYPE html>
<html lang="en">
<head>
    <title>RollinSpot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <section>
        <div class="container">
            <nav>
                <h1>Logo</h1>
                <ul>
                    <form>
                        <input
                                type="text"
                                required=""
                                name="search"
                                placeholder="search for a post or a category"
                        />
                    </form>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Project</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Sign in</a></li>
                    <li><a href="">Sign up</a></li>
                </ul>
                <div class ="article">
                    <h1>Welcome to RollingSpot, a forum for all type of bikers !</h1>
                    <p>If you have a bike or if you dont, this forum is perfect if you want to share informations or if you need help !
                    </p><br>
                    <p>You already have an acount ? You can sign in at the top of the page, or sign up if you dont have one.
                    </p>
                </div>
            </nav>
        </div>
    </section>
</body>
</html>