<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RollinSpot</title>
</head>
<body>
<h2>Login</h2>
<form action="/login" method="post">

    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username.." required><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password.." required><br><br>

    <input type="submit" value="Login">
</form>
<p>You don't have an account? <a href="register.html">Create your account here</a>.</p>
</body>
</html>