<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RollinSpot</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <script src="../static/javascript/navbar.js"></script>
</head>
<body>

<nav class="navbar">
    <div class="container">
        <a href="/" class="brand">Home</a>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="nav-links" id="nav-links">
            <a href="/login.html" class="nav-item" id="login">Login</a>
            <a href="/register.html" class="nav-item" id="register">Register</a>
        </div>
    </div>

    <div class="mobile-links" id="mobile-links">
        <a href="/login.html" class="nav-item" id="login-m">Login</a>
        <a href="/register.html" class="nav-item" id="register-m">Register</a>
    </div>
</nav>

<h2>Login</h2>

<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Your username.." required><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password.." required><br>
    <input type="checkbox" id="password-checkbox">
    <label for="password-checkbox">Show Password</label><br>
    <span id="redMessage"></span><br>
    <div class="submit">
        <input type="checkbox" id="keeplogin">
        <label for="keeplogin">Stay connected on this device</label><br>
        <input type="submit" value="Login">
    </div>
</form>
<p>You don't have an account? <a href="/register.html">Create your account here</a>.</p>
<script>

    const passwordInput = document.getElementById('password');
    const passwordCheckbox = document.getElementById('password-checkbox');

    function togglePasswordVisibility() {
        if (passwordCheckbox.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
    passwordCheckbox.addEventListener('change', togglePasswordVisibility);

    const usernameInput = document.getElementById('username');
    usernameInput.addEventListener('input', function() {
        usernameInput.value = this.value.toLowerCase()
    })

    function handleLoginError(errorMessage) {
        document.getElementById('redMessage').innerText = errorMessage;
    }

    document.querySelector('form').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch(this.action, {
            method: this.method,
            body: formData
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text);
                    });
                }
                window.location.href = response.url;
            })
            .catch(error => {
                handleLoginError(error.message);
            });
    });
</script>
</body>
</html>