<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="../static/javascript/navbar.js"></script>
    <title>RollinSpot</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="brand">
            <img src="../static/image/Rollinspot-logo.png" alt="RollinSpot Logo">
        </a>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="nav-links" id="nav-links">
            {{if gt .User.Power 0}}
            <a href="/administration.html" class="nav-item" id="administration">Admin panel</a>
            {{end}}
            {{if eq .User.Username ""}}
            <a href="/login.html" class="nav-item" id="login">Login</a>
            <a href="/register.html" class="nav-item" id="register">Register</a>
            {{else}}
            <a href="/error.html" class="nav-item" id="notifications">Notifications</a>
            <a href="/error.html" class="nav-item" id="messages">Messages</a>
            <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile">{{.User.Username}}</a>
            <a href="/settings.html" class="nav-item" id="settings">Settings</a>
            <a href="/logout" class="nav-item" id="logout">Logout</a>
            {{end}}
        </div>
    </div>

    <div class="mobile-links" id="mobile-links">
        {{if gt .User.Power 0}}
        <a href="/administration.html" class="nav-item" id="administration-m">Admin panel</a>
        {{end}}
        {{if eq .User.Username ""}}
        <a href="/login.html" class="nav-item" id="login-m">Login</a>
        <a href="/register.html" class="nav-item" id="register-m">Register</a>
        {{else}}
        <a href="/error.html" class="nav-item" id="notifications-m">Notifications</a>
        <a href="/error.html" class="nav-item" id="messages-m">Messages</a>
        <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile-m">{{.User.Username}}</a>
        <a href="/settings.html" class="nav-item" id="settings-m">Settings</a>
        <a href="/logout" class="nav-item" id="logout-m">Logout</a>
        {{end}}
    </div>
</nav>

<div class="post-page">
    {{if eq .Post.Title ""}}
    <h1>Unknown page</h1>
    {{else}}
    <div id="post-feedback" class="post-feedback" style="color: green" hidden="hidden"></div>
    <div class="post">
        <h2>{{.Post.Title}}</h2>
        <p class="post-meta">Posted by <a href="/profile/{{.Post.Creator.Uuid}}">{{.Post.Creator.Username}}</a> in <a href="/categories/{{.Post.Category}}">{{.Post.Category}}</a> on {{.Post.CreationDate}}</p>
        <div class="post-content">
            <pre>{{.Post.Content}}</pre>
            {{if .Post.Images}}
            <div class="post-images">
                {{range .Post.Images}}
                <img src="{{.}}" alt="Post Image">
                {{end}}
            </div>
            {{end}}
        </div>
        <div class="post-actions">
            {{if eq .User.Uuid .Post.CreatorUUID}}
                <form action="/delete-own-post/{{.Post.Uuid}}" method="POST">
                    <button class="delete-btn">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            {{end}}
            <div class="like-action">
                {{if eq .User.Username ""}}
                    <button class="like-btn" data-action="like" disabled>
                        <i class="fas fa-thumbs-up"></i>
                        <span class="like-count">{{len .Post.Likes}}</span>
                    </button>
                {{else}}
                    {{if userHasLiked .User.Uuid .Post.Likes}}
                        <button class="like-btn liked" data-action="unlike">
                            <i class="fas fa-thumbs-up"></i>
                            <span class="like-count">{{len .Post.Likes}}</span>
                        </button>
                    {{else}}
                        <button class="like-btn" data-action="like">
                            <i class="fas fa-thumbs-up"></i>
                            <span class="like-count">{{len .Post.Likes}}</span>
                        </button>
                    {{end}}
                {{end}}

            </div>
            <div class="dislike-action">
                {{if eq .User.Username ""}}
                    <button class="dislike-btn" data-action="dislike" disabled>
                        <i class="fas fa-thumbs-down"></i>
                        <span class="dislike-count">{{len .Post.Dislikes}}</span>
                    </button>
                {{else}}
                    {{if userHasDisliked .User.Uuid .Post.Dislikes}}
                        <button class="dislike-btn disliked" data-action="undislike">
                            <i class="fas fa-thumbs-down"></i>
                            <span class="dislike-count">{{len .Post.Dislikes}}</span>
                        </button>
                    {{else}}
                        <button class="dislike-btn" data-action="dislike">
                            <i class="fas fa-thumbs-down"></i>
                            <span class="dislike-count">{{len .Post.Dislikes}}</span>
                        </button>
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>

    <!-- Display answers -->
    <div class="answers">
        <div class="answers-title">
            <h3>Answers</h3>
            <div id="answer-feedback" class="answer-feedback"></div>
        </div>

        <div id="answers-list" class="for-first">
        {{range .Answers}}
            <div class="answer">
                <div class="answer-left">
                    <div class="answer-header">
                        <a href="/profile/{{.Creator.Uuid}}"><p class="answer-username">{{.Creator.Username}}</p></a>
                        <p class="answer-meta">{{.CreationDate}}</p>
                    </div>
                    <pre>{{.Content}}</pre>
                </div>
                <div class="answer-right">
                    <div class="post-actions">
                        {{if eq $.User.Uuid .CreatorUUID}}
                            <form action="/delete-own-answer/{{.Uuid}}" method="POST">
                                <button class="delete-btn">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        {{end}}
                        <div class="like-action">
                            {{if eq $.User.Username ""}}
                                <button class="like-btn" data-action="like" disabled>
                                    <i class="fas fa-thumbs-up"></i>
                                    <span class="like-count">{{len .Likes}}</span>
                                </button>
                            {{else}}
                                {{if userHasLiked $.User.Uuid .Likes}}
                                    <button class="like-btn liked" data-action="unlike">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span class="like-count">{{len .Likes}}</span>
                                    </button>
                                    {{else}}
                                    <button class="like-btn" data-action="like">
                                        <i class="fas fa-thumbs-up"></i>
                                        <span class="like-count">{{len .Likes}}</span>
                                    </button>
                                {{end}}
                            {{end}}
                        </div>
                        <div class="dislike-action">
                            {{if eq $.User.Username ""}}
                                <button class="dislike-btn" data-action="dislike" disabled>
                                    <i class="fas fa-thumbs-down"></i>
                                    <span class="dislike-count">{{len .Dislikes}}</span>
                                </button>
                            {{else}}
                                {{if userHasDisliked $.User.Uuid .Dislikes}}
                                    <button class="dislike-btn disliked" data-action="undislike">
                                        <i class="fas fa-thumbs-down"></i>
                                        <span class="dislike-count">{{len .Dislikes}}</span>
                                    </button>
                                {{else}}
                                    <button class="dislike-btn" data-action="dislike">
                                        <i class="fas fa-thumbs-down"></i>
                                        <span class="dislike-count">{{len .Dislikes}}</span>
                                    </button>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>

            </div>
        {{end}}
        </div>

        <!-- Form to post an answer -->
        {{if eq .User.Username ""}}
        <a href="/login.html">
            <button class="login-btn">Login to answer</button>
        </a>
        {{else}}
            <form id="answer-form" action="/submit-answer" method="post">
                <input type="hidden" name="post" value="{{.Post.Uuid}}">
                <textarea id="answer-content" name="answer-content" rows="4" placeholder="Write your answer here" maxlength="1000" minlength="2" required></textarea><br>
                <button type="submit">Post Answer</button>
            </form>
        {{end}}
    </div>
    {{end}}
</div>
</body>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        const amessage = urlParams.get('a-message');
        const pmessage = urlParams.get('p-message');

        if (amessage) {
            const feedbackElement = document.getElementById('answer-feedback');
            feedbackElement.textContent = decodeURIComponent(amessage);
            const newUrl = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, newUrl);
        }
        if (pmessage) {
            const feedbackElement = document.getElementById('post-feedback');
            feedbackElement.textContent = decodeURIComponent(pmessage);
            feedbackElement.hidden = false;
            const newUrl = window.location.origin + window.location.pathname;
            window.history.replaceState({}, document.title, newUrl);
        }

        const forms = document.querySelectorAll("form");
        forms.forEach(form => {
            form.addEventListener("submit", function(event) {
                const scrollPosInput = document.createElement('input');
                scrollPosInput.type = 'hidden';
                scrollPosInput.name = 'scrollPos';
                scrollPosInput.value = window.scrollY;
                form.appendChild(scrollPosInput);
            });
        });

        // Ensure scroll restoration on window load
        const scrollPos = urlParams.get('scrollPos');
        if (scrollPos) {
            window.scrollTo(0, parseFloat(scrollPos));
        }
    });


</script>


</html>
