<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="../static/javascript/navbar.js"></script>
    <title>RollinSpot</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="brand">
            <img src="../static/image/Rollinspot-logo.png" alt="RollinSpot Logo">
        </a>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="nav-links" id="nav-links">
            {{if gt .User.Power 0}}
            <a href="/administration.html" class="nav-item" id="administration">Admin panel</a>
            {{end}}
            {{if eq .User.Username ""}}
            <a href="/login.html" class="nav-item" id="login">Login</a>
            <a href="/register.html" class="nav-item" id="register">Register</a>
            {{else}}
            <a href="/error.html" class="nav-item" id="notifications">Notifications</a>
            <a href="/error.html" class="nav-item" id="messages">Messages</a>
            <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile">{{.User.Username}}</a>
            <a href="/settings.html" class="nav-item" id="settings">Settings</a>
            <a href="/logout" class="nav-item" id="logout">Logout</a>
            {{end}}
        </div>
    </div>

    <div class="mobile-links" id="mobile-links">
        {{if gt .User.Power 0}}
        <a href="/administration.html" class="nav-item" id="administration-m">Admin panel</a>
        {{end}}
        {{if eq .User.Username ""}}
        <a href="/login.html" class="nav-item" id="login-m">Login</a>
        <a href="/register.html" class="nav-item" id="register-m">Register</a>
        {{else}}
        <a href="/error.html" class="nav-item" id="notifications-m">Notifications</a>
        <a href="/error.html" class="nav-item" id="messages-m">Messages</a>
        <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile-m">{{.User.Username}}</a>
        <a href="/settings.html" class="nav-item" id="settings-m">Settings</a>
        <a href="/logout" class="nav-item" id="logout-m">Logout</a>
        {{end}}
    </div>

</nav>

<div class="page-content">
    {{if eq .Profile.Name ""}}
    <h1>Unknown page</h1>
    {{else}}
        <div class="profile-container">
            <div class="profile-header">
                <div class="username-box">
                    <h1 class="username">{{.Profile.Username}}</h1>
                </div>
                <div class="meta-box">
                    <p>Since: {{.Profile.CreationDate}}</p>
                    <p>Gender: {{.Profile.Gender}}</p>
                    {{if eq .Profile.Power 1}}
                    <p style="color: dodgerblue">Moderator</p>
                    {{end}}
                    {{if eq .Profile.Power 2}}
                    <p style="color: #C71E1E">Administrator</p>
                    {{end}}
                </div>
            </div>
            <div class="profile-content">
                <div id="posts-section" class="posts-section">
                    <h2>Posts posted</h2>
                    <div id="created-posts">
                        {{range .Posts}}
                        <a href="/post/{{.Uuid}}" class="post-item">
                            <div class="post-content">
                                <h3>{{.Title}}</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="post-category">
                                <h3>Category:</h3>
                                <p>{{.Category}}</p>
                            </div>
                            <div class="post-answers-count">
                                <h3>Answers:</h3>
                                <p>{{.AnswersCount}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                </div>
                <div class="answers-section">
                    <h2>Answers posted</h2>
                    <div id="posted-answers">
                        {{range .Answers}}
                        <a href="/post/{{.PostID}}" class="post-item">
                            <div class="post-content">
                                <h3>Answer:</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="answer-post">
                                <h3>Post:</h3>
                                {{if eq .PostTitle ""}}
                                <p>Deleted Post</p>
                                {{else}}
                                <p>{{.PostTitle}}</p>
                                {{end}}
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                {{if eq $.User.Uuid .CreatorUUID}}
                                    <form action="/delete-own-answer/{{.Uuid}}" method="POST">
                                        <input type="hidden" name="profile" value="true">
                                        <button class="delete-btn" type="submit">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                {{end}}

                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                </div>
                <div class="liked-section">
                    <h2>Liked Posts</h2>
                    <div id="liked-posts">
                        {{range .LikedPosts}}
                        <a href="/post/{{.Uuid}}" class="post-item">
                            <div class="post-content">
                                <h3>{{.Title}}</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="post-category">
                                <h3>Category:</h3>
                                <p>{{.Category}}</p>
                            </div>
                            <div class="post-answers-count">
                                <h3>Answers:</h3>
                                <p>{{.AnswersCount}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                </div>
                <div class="liked-section">
                    <h2>Liked Answers</h2>
                    <div id="liked-answers">
                        {{range .LikedAnswers}}
                        <a href="/post/{{.PostID}}" class="post-item">
                            <div class="post-content">
                                <h3>Answer:</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="answer-post">
                                <h3>Post:</h3>
                                {{if eq .PostTitle ""}}
                                    <p>Deleted Post</p>
                                {{else}}
                                <p>{{.PostTitle}}</p>
                                {{end}}
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                {{if eq $.User.Uuid .CreatorUUID}}
                                <form action="/delete-answer-like/{{.Uuid}}" method="POST">
                                    <input type="hidden" name="profile" value="true">
                                    <button class="delete-btn" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                                {{end}}
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    {{end}}
</div>


</body>

<script>

    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);

        const forms = document.querySelectorAll("form");
        forms.forEach(form => {
            form.addEventListener("submit", function(event) {
                const scrollPosInput = document.createElement('input');
                scrollPosInput.type = 'hidden';
                scrollPosInput.name = 'scrollPos';
                scrollPosInput.value = window.scrollY;
                form.appendChild(scrollPosInput);
            });
        });

        const scrollPos = urlParams.get('scrollPos');
        if (scrollPos) {
            window.scrollTo(0, parseFloat(scrollPos));
        }
    });

</script>


</html>
