<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="../static/javascript/navbar.js"></script>
    <title>RollinSpot</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="brand">
            <img src="../static/image/Rollinspot-logo.png" alt="RollinSpot Logo">
        </a>
        <div class="menu-icon" onclick="toggleMenu()">
            &#9776;
        </div>
        <div class="nav-links" id="nav-links">
            {{if gt .User.Power 0}}
            <a href="/administration.html" class="nav-item" id="administration">Admin panel</a>
            {{end}}
            {{if eq .User.Username ""}}
            <a href="/login.html" class="nav-item" id="login">Login</a>
            <a href="/register.html" class="nav-item" id="register">Register</a>
            {{else}}
            <a href="/error.html" class="nav-item" id="notifications">Notifications</a>
            <a href="/error.html" class="nav-item" id="messages">Messages</a>
            <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile">{{.User.Username}}</a>
            <a href="/settings.html" class="nav-item" id="settings">Settings</a>
            <a href="/logout" class="nav-item" id="logout">Logout</a>
            {{end}}
        </div>
    </div>

    <div class="mobile-links" id="mobile-links">
        {{if gt .User.Power 0}}
        <a href="/administration.html" class="nav-item" id="administration-m">Admin panel</a>
        {{end}}
        {{if eq .User.Username ""}}
        <a href="/login.html" class="nav-item" id="login-m">Login</a>
        <a href="/register.html" class="nav-item" id="register-m">Register</a>
        {{else}}
        <a href="/error.html" class="nav-item" id="notifications-m">Notifications</a>
        <a href="/error.html" class="nav-item" id="messages-m">Messages</a>
        <a href="/profile/{{.User.Uuid}}" class="nav-item" id="profile-m">{{.User.Username}}</a>
        <a href="/settings.html" class="nav-item" id="settings-m">Settings</a>
        <a href="/logout" class="nav-item" id="logout-m">Logout</a>
        {{end}}
    </div>

</nav>

<div class="page-content">
    {{if eq .Profile.Name ""}}
    <h1>Unknown page</h1>
    {{else}}
        <div class="profile-container">
            <div class="profile-header">
                <div class="username-box">
                    <h1 class="username">{{.Profile.Username}}</h1>
                </div>
                <div class="meta-box">
                    <p>Since: {{.Profile.CreationDate}}</p>
                    <p>Gender: {{.Profile.Gender}}</p>
                    {{if eq .Profile.Power 1}}
                    <p style="color: dodgerblue">Moderator</p>
                    {{end}}
                    {{if eq .Profile.Power 2}}
                    <p style="color: #C71E1E">Administrator</p>
                    {{end}}
                </div>
            </div>
            <div class="profile-content">
                <div id="posts-section" class="posts-section">
                    <h2>Posts posted</h2>
                    <div id="created-posts">
                        {{range .Posts}}
                        <a href="/post/{{.Uuid}}" class="post-item">
                            <div class="post-content">
                                <h3>{{.Title}}</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="post-category">
                                <h3>Category:</h3>
                                <p>{{.Category}}</p>
                            </div>
                            <div class="post-answers-count">
                                <h3>Answers:</h3>
                                <p>{{.AnswersCount}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                    {{if eq (len .Posts) 5}}
                    <button id="show-more-posts-btn" class="show-more-btn" onclick="loadMoreCreatedPosts()">Show More</button>
                    {{end}}
                </div>
                <div class="answers-section">
                    <h2>Answers posted</h2>
                    <div id="posted-answers">
                        {{range .Answers}}
                        <a href="/post/{{.PostID}}" class="post-item">
                            <div class="post-content">
                                <h3>Answer:</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="answer-post">
                                <h3>Post:</h3>
                                <p>{{.PostTitle}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                    {{if eq (len .Answers) 5}}
                    <button id="show-more-answers-btn" class="show-more-btn" onclick="loadMorePostedAnswers()">Show More</button>
                    {{end}}
                </div>
                <div class="liked-section">
                    <h2>Liked Posts</h2>
                    <div id="liked-posts">
                        {{range .LikedPosts}}
                        <a href="/post/{{.Uuid}}" class="post-item">
                            <div class="post-content">
                                <h3>{{.Title}}</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="post-category">
                                <h3>Category:</h3>
                                <p>{{.Category}}</p>
                            </div>
                            <div class="post-answers-count">
                                <h3>Answers:</h3>
                                <p>{{.AnswersCount}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                    {{if eq (len .LikedPosts) 5}}
                    <button id="show-more-liked-posts-btn" class="show-more-btn" onclick="loadMoreLikedPosts()">Show More</button>
                    {{end}}
                </div>
                <div class="liked-section">
                    <h2>Liked Answers</h2>
                    <div id="liked-answers">
                        {{range .LikedAnswers}}
                        <a href="/post/{{.PostID}}" class="post-item">
                            <div class="post-content">
                                <h3>Answer:</h3>
                                <p>{{.Content}}</p>
                            </div>
                            <div class="answer-post">
                                <h3>Post:</h3>
                                <p>{{.PostTitle}}</p>
                            </div>
                            <div class="post-meta">Posted on {{.CreationDate}}</div>
                            <div class="post-actions">
                                <div class="like-count">
                                    <i class="fas fa-thumbs-up"></i>
                                    <span>{{len .Likes}}</span>
                                </div>
                                <div class="dislike-count">
                                    <i class="fas fa-thumbs-down"></i>
                                    <span>{{len .Dislikes}}</span>
                                </div>
                            </div>
                        </a>
                        {{end}}
                    </div>
                    {{if eq (len .LikedAnswers) 5}}
                    <button id="show-more-liked-answers-btn" class="show-more-btn" onclick="loadMoreLikedAnswers()">Show More</button>
                    {{end}}
                </div>
            </div>
        </div>
    {{end}}
</div>


</body>

<script>
    const profile = "{{.Profile.Uuid}}";
    let postsOffset = 5;
    function loadMoreCreatedPosts() {
        fetch(`/more-created-posts?profile=${profile}&offset=${postsOffset}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(posts => {
                if (!posts || posts.length === 0) {
                    document.getElementById('show-more-posts-btn').style.display = 'none';
                    return;
                }

                const postsList = document.getElementById('created-posts');
                if (!postsList) {
                    console.error('created-posts element not found');
                    return;
                }
                posts.forEach(post => {
                    const postLink = document.createElement('a');
                    postLink.href = `/post/${post.Uuid}`;
                    postLink.classList.add('post-item');

                    postLink.innerHTML = `
                        <div class="post-content">
                            <h3>${post.Title}</h3>
                            <p>${post.Content}</p>
                        </div>
                        <div class="post-category">
                            <h3>Category:</h3>
                            <p>${post.Category}</p>
                        </div>
                        <div class="post-answers-count">
                            <h3>Answers</h3>
                            <p>${post.AnswersCount}</p>
                        </div>
                        <div class="post-meta">Posted on ${post.CreationDate}</div>
                    `;

                    const postActions = document.createElement('div');
                    postActions.classList.add('post-actions');

                    const likeCount = document.createElement('div');
                    likeCount.classList.add('like-count');
                    likeCount.innerHTML = `
                        <i class="fas fa-thumbs-up"></i>
                        <span>${post.Likes ? post.Likes.length : 0}</span>
                    `;
                    postActions.appendChild(likeCount);

                    const dislikeCount = document.createElement('div');
                    dislikeCount.classList.add('dislike-count');
                    dislikeCount.innerHTML = `
                        <i class="fas fa-thumbs-down"></i>
                        <span>${post.Dislikes ? post.Dislikes.length : 0}</span>
                    `;
                    postActions.appendChild(dislikeCount);

                    postLink.appendChild(postActions);

                    postsList.appendChild(postLink);
                });
                postsOffset += posts.length;

                if (posts.length < 5) {
                    document.getElementById('show-more-posts-btn').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error fetching more posts:', error);
            });
    }
    let answersOffset = 5;
    function loadMorePostedAnswers() {
        fetch(`/more-posted-answers?profile=${profile}&offset=${answersOffset}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(answers => {
                if (!answers || answers.length === 0) {
                    document.getElementById('show-more-answers-btn').style.display = 'none';
                    return;
                }

                const answersList = document.getElementById('posted-answers');
                if (!answersList) {
                    console.error('posted-answers element not found');
                    return;
                }
                answers.forEach(answer => {
                    const postLink = document.createElement('a');
                    postLink.href = `/post/${answer.PostID}`;
                    postLink.classList.add('post-item');

                    postLink.innerHTML = `
                        <div class="post-content">
                            <h3>Answer:</h3>
                            <p>${answer.Content}</p>
                        </div>
                        <div class="answer-post">
                            <h3>Post:</h3>
                            <p>${answer.PostTitle}</p>
                        </div>
                        <div class="post-meta">Posted on ${answer.CreationDate}</div>
                    `;

                    const postActions = document.createElement('div');
                    postActions.classList.add('post-actions');

                    const likeCount = document.createElement('div');
                    likeCount.classList.add('like-count');
                    likeCount.innerHTML = `
                        <i class="fas fa-thumbs-up"></i>
                        <span>${answer.Likes ? answer.Likes.length : 0}</span>
                    `;
                    postActions.appendChild(likeCount);

                    const dislikeCount = document.createElement('div');
                    dislikeCount.classList.add('dislike-count');
                    dislikeCount.innerHTML = `
                        <i class="fas fa-thumbs-down"></i>
                        <span>${answer.Dislikes ? answer.Dislikes.length : 0}</span>
                    `;
                    postActions.appendChild(dislikeCount);

                    postLink.appendChild(postActions);

                    answersList.appendChild(postLink);
                });

                answersOffset += answers.length;

                if (answers.length < 5) {
                    document.getElementById('show-more-answers-btn').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error fetching more answers:', error);
            });
    }
    let likedPostsOffset = 5;
    function loadMoreLikedPosts() {
        fetch(`/more-liked-posts?profile=${profile}&offset=${likedPostsOffset}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(posts => {
                if (!posts || posts.length === 0) {
                    document.getElementById('show-more-liked-posts-btn').style.display = 'none';
                    return;
                }

                const postsList = document.getElementById('liked-posts');
                if (!postsList) {
                    console.error('liked-posts element not found');
                    return;
                }
                posts.forEach(post => {
                    const postLink = document.createElement('a');
                    postLink.href = `/post/${post.Uuid}`;
                    postLink.classList.add('post-item');

                    postLink.innerHTML = `
                        <div class="post-content">
                            <h3>${post.Title}</h3>
                            <p>${post.Content}</p>
                        </div>
                        <div class="post-category">
                            <h3>Category:</h3>
                            <p>${post.Category}</p>
                        </div>
                        <div class="post-answers-count">
                            <h3>Answers</h3>
                            <p>${post.AnswersCount}</p>
                        </div>
                        <div class="post-meta">Posted on ${post.CreationDate}</div>
                    `;

                    const postActions = document.createElement('div');
                    postActions.classList.add('post-actions');

                    const likeCount = document.createElement('div');
                    likeCount.classList.add('like-count');
                    likeCount.innerHTML = `
                        <i class="fas fa-thumbs-up"></i>
                        <span>${post.Likes ? post.Likes.length : 0}</span>
                    `;
                    postActions.appendChild(likeCount);

                    const dislikeCount = document.createElement('div');
                    dislikeCount.classList.add('dislike-count');
                    dislikeCount.innerHTML = `
                        <i class="fas fa-thumbs-down"></i>
                        <span>${post.Dislikes ? post.Dislikes.length : 0}</span>
                    `;
                    postActions.appendChild(dislikeCount);

                    postLink.appendChild(postActions);

                    postsList.appendChild(postLink);
                });
                likedPostsOffset += posts.length;

                if (posts.length < 5) {
                    document.getElementById('show-more-liked-posts-btn').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error fetching more posts:', error);
            });
    }
    let likedAnswersOffset = 5;
    function loadMoreLikedAnswers() {
        fetch(`/more-liked-answers?profile=${profile}&offset=${likedAnswersOffset}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(answers => {
                if (!answers || answers.length === 0) {
                    document.getElementById('show-more-liked-answers-btn').style.display = 'none';
                    return;
                }

                const answersList = document.getElementById('liked-answers');
                if (!answersList) {
                    console.error('liked-answers element not found');
                    return;
                }
                answers.forEach(answer => {
                    const postLink = document.createElement('a');
                    postLink.href = `/post/${answer.PostID}`;
                    postLink.classList.add('post-item');

                    postLink.innerHTML = `
                        <div class="post-content">
                            <h3>Answer:</h3>
                            <p>${answer.Content}</p>
                        </div>
                        <div class="answer-post">
                            <h3>Post:</h3>
                            <p>${answer.PostTitle}</p>
                        </div>
                        <div class="post-meta">Posted on ${answer.CreationDate}</div>
                    `;

                    const postActions = document.createElement('div');
                    postActions.classList.add('post-actions');

                    const likeCount = document.createElement('div');
                    likeCount.classList.add('like-count');
                    likeCount.innerHTML = `
                        <i class="fas fa-thumbs-up"></i>
                        <span>${answer.Likes ? answer.Likes.length : 0}</span>
                    `;
                    postActions.appendChild(likeCount);

                    const dislikeCount = document.createElement('div');
                    dislikeCount.classList.add('dislike-count');
                    dislikeCount.innerHTML = `
                        <i class="fas fa-thumbs-down"></i>
                        <span>${answer.Dislikes ? answer.Dislikes.length : 0}</span>
                    `;
                    postActions.appendChild(dislikeCount);

                    postLink.appendChild(postActions);

                    answersList.appendChild(postLink);
                });

                likedAnswersOffset += answers.length;

                if (answers.length < 5) {
                    document.getElementById('show-more-liked-answers-btn').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error fetching more answers:', error);
            });
    }
</script>


</html>
