body {
    background-color: #0e0e10;
}

.administration-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.administration-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
}

.administration-nav {
    margin-bottom: 10px;
}

.administration-nav ul {
    list-style-type: none;
    padding: 0;
}

.administration-nav li {
    display: inline-grid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.administration-nav a {
    text-decoration: none;
    color: #C71E1E;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 200ms;
}

.administration-nav a:hover, .administration-nav a.active {
    background-color: #C71E1E;
    color: #2D2A2D;
}

.administration-content {
    border-top: 1px solid #2c2c31;
    padding-top: 20px;
}

.administration-section {
    display: none;
}

.administration-section h2 {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
}

.administration-section.active {
    display: block;
}

.administration-nav a.active {
    background-color: #C71E1E;
    color: #000000;
}

.administration-nav a.active:hover {
    background-color: #af1b1b;
}

.category-item {
    border: 1px solid #232327;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

.category-item h3 {
    margin: 0;
    color: #C71E1E;
}

.category-item p {
    color: #ddd;
}

.category-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.category-actions button,
.update-form button,
form button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 200ms;
}

.view-btn {
    background-color: #6e6e6e;
    transition: background-color 200ms;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 13px;
}

.view-btn:hover {
    background-color: #505050;
}

.rename-btn {
    background-color: #004a98;
}

.rename-btn:hover {
    background-color: #003064;
}

.delete-btn {
    background-color: #b40000;
}

.delete-btn:hover {
    background-color: #8d0000;
}

.update-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update-form input[type="text"],
.update-form textarea {
    padding: 5px;
    border: 2px solid #232327;
    border-radius: 4px;
    background-color: #18181b;
    color: #b6b6b6;
}

.update-form input[type="text"]:hover,
.update-form textarea:hover {
    border-color: #333336;
}

.update-form input[type="text"]:focus,
.update-form textarea:focus {
    border-color: #C71E1E;
    border-width: 3px;
    outline: none;
    color: white;
}

.add-category-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #C71E1E;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.add-category-btn:hover {
    background-color: #af1b1b;
}

.category-message {
    display: inline-block;
    margin-left: 20px;
    color: green;
}
