body {
    background-color: #0e0e10;
}

.index-container  {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.index-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
}

.index-nav {
    margin-bottom: 10px;
}

.index-nav ul {
    list-style-type: none;
    padding: 0;
}

.index-nav li {
    display: inline-grid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.index-nav a {
    text-decoration: none;
    color: #C71E1E;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 200ms;
}

.index-nav a:hover, .index-nav a.active {
    background-color: #C71E1E;
    color: #2D2A2D;
}

.index-content {
    border-top: 1px solid #2c2c31;
    padding-top: 20px;
}

.index-section {
    display: none;
}

.index-section h2 {
    color: white;
    margin-bottom: 20px;
}

.index-section.active {
    display: block;
}