.settings-container {
    width: 80%;
    margin: 0 auto 20px auto;
    padding: 100px;
}

.settings-title {
     font-size: 30px;
     margin-bottom: 20px;
     color: #fff;
     text-align: left;
     padding-left: 10px;
 }

.settings-nav {
    margin-bottom: 10px;
}

.settings-nav ul {
    list-style-type: none;
    padding: 0;
}

.settings-nav li {
    display: inline-grid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.settings-nav a {
    text-decoration: none;
    color: #C71E1E;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 200ms;
}

.settings-nav a:hover, .settings-nav a.active {
    background-color: #C71E1E;
    color: #2D2A2D;
}

.settings-content {
    border-top: 1px solid #2c2c31;
    padding-top: 20px;
}

.settings-section {
    display: none;
}

.settings-section h2 {
    color: white;
    margin-bottom: 20px;
}

.settings-section.active {
    display: block;
}

.one-row {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.one-row select,
.one-row input {
    flex: 1; /* Take remaining space */
    margin-right: 10px; /* Add spacing between input/select and button */
    margin-top: 10px;
    margin-bottom: 20px;
}

.one-row button {
    padding: 10px 15px;
    width: 10em;
}

.large-button {
    display: flex;
    flex-direction: column;
}
.two-row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 10px;
}

.two-row button {
    width: 100%;
}

.two-row select,
.two-row input {
}

form input, form select {
    border-style: solid;
    border-color: #232327;
    border-radius: 4px;
    background-color: #18181b;
    color: #b6b6b6;
    border-width: 2px;
    padding: 8px;
}

form input:hover, form select:hover {
    border-color: #333336;
}

form input:focus, form select:focus {
    border-color: #C71E1E;
    border-width: 3px;
    outline: none;
    color: white;
}

form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #C71E1E;
    color: #fff;
    cursor: pointer;
    transition: 200ms;
    margin-top: 10px;
    margin-bottom: 20px;
}

form button:hover:not(:disabled) {
    background-color: #af1b1b;
}

form button:disabled {
    background-color: #333336;
    color: #fff;
    cursor: default;
}

form label {
    color: white;
}

.settings-nav a.active {
    background-color: #C71E1E;
    color: #000000;
}

/* Hover effect should be disabled for active nav item */
.settings-nav a.active:hover {
    background-color: #af1b1b;
}

#password-error {
    margin-left: 20px;
}